/* @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../../assets/fonts/Montserrat-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/fonts/Montserrat-SemiBold.ttf') format('ttf');
} */

:root {
    --footer-bg: #20113D; /* Dark background from image */
    --text-white: #FFFFFF;
    --text-intro: rgba(0, 160, 146, 1);
    --text-page: rgba(0, 0, 0, 1);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    color: var(--text-page);
}

.header {
    background-color: #F58021;
    height: 110px;
    width: 100%;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 30px;
}

.header_nav_social {
    display: flex;
    align-items: center;
    gap: 70px;
}

.header_active {
    background: navy;
}

.header-list {
    display: flex;
    gap: 48px;
    list-style: none;
}

.header-link {
    font-family: 'Montserrat';
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}

.header-link:hover, .header-link:active, .header-link:focus {
    color: #00A092;
    opacity: .75;
}

.footer-link:hover, .footer-link:active, .footer-link:focus {
    color: #00A092;
    opacity: .75;
}

.header_social {
    display: flex;
    gap: 15px;
}

.social-icon {
    color: white;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.2s;
}

.header_burger {
    display: none;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 28px;
}

.burger-line {
    display: block;
    position: absolute;
    left: 0;
    background-color: black;
    width: 100%;
    height: 2px;
}

.burger-line-first {
    top: 0;
}

.burger-line-second {
    bottom: 0;
}

.burger-line-third {
    top: 50%;
    transform: translateY(-50%);
}

.youtube { background-color: #FF0000; }
.instagram { background: #C13584; }
.facebook { background-color: #3B5998; }

.social-icon:hover {
  transform: scale(1.1);
}

.intro {
    background: url('../../assets/images/image.png') no-repeat center right;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding: 40px 20px;
    color: var(--text-white);
}

.intro_wrapper {
    max-width: 1920px;
    margin: 0 260px;
    width: 100%;
}

.intro_content {
    max-width: 500px;
}

.intro_title {
    color: var(--text-intro);
    font-size: 82px;
    font-family: 'Montserrat';
    font-weight: 800;
    margin-bottom: 30px;
    width: 890px;
    line-height: 1.1;
    text-transform: uppercase;
}

.intro_text {
    font-size: 18px;
    font-weight: 400;
    max-width: 340px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: var(--text-page)
}

.view_btn {
    display: inline-flex;
    align-items: center;
    background: #FE9013;
    color: var(--text-white);
    padding: 26px 45px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background 0.3s;
    height: 74px;
}

.view_btn::after {
    margin-left: 10px;
    font-size: 20px;
}

.section {
    padding: 100px 0;
}

.how-it-works {
    /* padding: 100px 0; */
    background-color: #FFFFFF;
}

.main-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.grid-layout {
    display: flex;
    align-items: center;
    gap: 100px;
    padding-bottom: 150px;
}

.grid-from-left .image-box {
   order: 2;
}

.grid-from-left .content-box {
    order: 1;
}

.image-box {
    flex: 1;  
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.content-box {
    flex: 1;
}

.title {
    font-size: 54px;
    color: rgba(0, 160, 146, 1);
    font-weight: 600;
    font-family: 'Motserrat';
    text-transform: uppercase;
    margin-bottom: 50px;
}

.content-box p {
    font-family: 'Motserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 600px;
}

.donation_inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 190px;
    padding-left: 260px;
    padding-right: 260px;
    background-color: rgba(32, 17, 61, 1);
}

.donation-text {
    padding: 50px 0;
}

.donation-text h3 {
    font-family: 'Motserrat';
    color: rgba(255, 255, 255, 1);
    font-size: 42px;
    font-weight: 500;
    text-transform: uppercase;
}

.donation-text p {
    font-family: 'Motserrat';
    font-weight: 400;
    font-size: 18px;
    color: white;
    max-width: 500px;
    opacity: 0.7;
}

.donation-form {
    max-width: 320px;
    padding: 50px 0;
}

.donation-form label {
    display: block;
    margin-bottom: 10px;
    color: white;
    font-size: 26px;
    font-weight: 500;
    line-height: 130%;
}

.donation_input_group {
    display: flex;
    height: 75px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    overflow: hidden;
}

.donation_input_group input {
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding: 15px;
    color: white;
    flex-grow: 1;
    outline: none;
}

.donation_input_group button {
    background-color: #fe9013; /* Оранжевая кнопка */
    border: none;
    color: white;
    padding: 0 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.pay_and_feed {
    color: rgba(255, 255, 255, 1);
}

.pay-container {
    width: 100%;
    margin: 0 auto;
    padding: 90px 260px;
    background-color: rgba(32, 17, 61, 1);
}

.pay-step {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 20px;
}

.step-number {
    font-family: 'Montserrat';
    font-size: 26px;
    font-weight: 500;
    line-height: 130%;
}

.section-title {
    font-family: 'Motserrat';
    font-weight: 600;
    font-size: 54px;
    padding: 90px 0;
    text-transform: uppercase;
}

.step-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 160px;
    width: 100%;
}

.step-image, .step-text {
    flex: 1;
}

.step-text h3 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
}

.step-text p {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.step-image img {
    max-width: 100%;
    height: auto;
    /* display: block; */
    border-radius: 5px;
}

.step-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
}

.step-text img {
    max-width: 100px;
}

.feedback-section-title {
    padding: 0 160px 50px 0;
}

.user_feedback {
    background-image: linear-gradient(rgba(32, 17, 61, 1), rgba(32, 17, 61, 0)), url("../../assets/images/feedbacke-image.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    color: rgba(255, 255, 255, 1);
}

.feed_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    padding: 100px 0 100px 260px;
}

.feed-info {
    flex: 1;
    min-width: 560px;
}

.section-info {
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
}

.feed-btn {
    display: inline-block;
    padding: 26px 45px;
    border: 1px solid white;
    color: var(--text-white);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 1140px;
    width: 359px;
    height: 74px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
}

.feed-btn:hover {
    background: white;
    color: #000;
}

.feed-grid {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.feed-card {
    max-width: 515px;
    background: #fff;
    color: #333;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

.feed-btn::after {
    content: "Leave feedback →";
}

.quote {
    font-size: 120px;
    font-weight: 800;
    font-family: 'Montserrat';
    letter-spacing: 1%;
    line-height: 100%;
    align-items: center;
    text-transform: uppercase;
    color: rgba(0, 160, 146, 1);
}

.feed-text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    flex-grow: 1;
    /* height: auto; */
    color: rgba(0, 0, 0, 1);
}

.location-date {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    color: rgba(0, 0, 0, 1);
}

.user-name {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    padding: 0 0 60px 0;
}

.feed-controls {
    display: flex;
    gap: 120px;
    margin-top: 50px;
    justify-content: flex-start;
}

.control-btn {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    padding: 26px 45px;
    background: transparent;
    border: 1px solid var(--text-white);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.control-btn:before {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    display: block;
}

.prev::before {
    transform: rotate(-180deg);
    margin-left: 4px;
}

.next::before {
    transform: rotate(45deg);
    margin-right: 4px;
}

.donate-now-btn {
    width: 240px;
    padding: 26px 45px;
}

.footer_logos a img {
    display: block;
    filter: brightness(0) invert(1);
    height: 50px; 
}

.school-logo img {
    width: 138px;
    height: auto;
}

.footer {
    background-color: var(--footer-bg);
    color: var(--text-white);
    padding: 40px 0; /* padding */
    font-family: 'Montserrat';
}

.footer-wrapper {
    margin: 0 260px;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px; /* padding */
}

.footer_logos {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.footer-link {
    color: var(--text-white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

.donate_btn {
    border: 1px solid var(--text-white);
    padding: 26px 45px;
    color: var(--text-white);
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    background-color: var(--footer-bg);
}

.donate_btn::after {
}

.footer_divider {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 1);
    margin: 0 0 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_copyright {
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.7;
}

.footer-social {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 900px) {
    .footer_top {
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        gap: 50px;
    }

    /* .intro-title {
        width: 600px;
    } */
}

@media screen and (max-width:1200px) {
    .footer-list {
        gap: 20px;
    }

    .header_wrapper {
        padding-left: 100px;
        padding-right: 100px;
    }

    .header-list {
        gap: 30px;
    }

    .footer {
        max-width: 1200px;
    }
    .donation_inside {
        max-width: 1200px;
    }
    
    .intro_wrapper {
        max-width: 1160px;
        margin: 0 auto;
        width: 100%;
    }
    .footer-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        margin-left: 40px;
        margin-right: 40px;
    }
    /* how it works */
    .main-container {
        max-width: 1160px;
        padding: 0 100px;
    }

    .grid-layout {
        display: block;
    }

    .grid-from-left {
        margin-left: 0;
        margin-right: auto;
        width: max-content;
    }

    .grid-from-right {
        margin-right: 0;
        margin-left: auto;
        width: max-content;
    }

    .grid-from-left .image-box {
        order: 1;
    }

    .grid-from-left .content-box {
        order: 2;
    }
    .image-box  { flex: 0 0 45%; }

    .image-box img {
        max-width: 660px;
        height: auto;
        display: block;
        border-radius: 5px;
        padding-bottom: 30px;
    }

    .content-box {
        max-width: 560px;
        flex: 0 0 55%; 
    }

    .donation_inside {
        gap: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .pay-container {
        padding: 150px 40px;
    }

    .pay-step {
        gap: 80px;
        padding-top: 30px;
    }

    .step-content {
        gap: 20px;
    }

    .section-title {
        padding-top: 0;
    }

    .step-text {
        align-items: center;
        text-align: center;
    }

    .step-image img {
        width: 550px;
    }

    .feed_container {
        max-width: 1200px;
        padding: 100px 0 100px 40px;
        display: flex;
        flex-direction: column;
    }

    .feed-info {
        width: 45%;
    }

    .feed-grid {
        padding-left: 140px;
    }

    .feed-controls {
        justify-content: flex-end;
    }

    .feed-btn {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header_wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header_burger {
        display: block;
        cursor: pointer;
    }

    .intro_title {
        width: 600px;
        text-align: left;
    }

    .view_btn {
        display: flex;
        width: 285px;
    }

    .header_nav {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: #20113D;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        transform: translateX(100%);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        will-change: transform;
    }

    .header_nav-active {
        transform: translateX(0);
    }

    .header_nav-close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
    }

    .header-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .header-link {
        font-size: 27px;
        line-height: 150%;
        letter-spacing: 0;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
    }

    .header-item {
        padding-top: 150px;
        padding-left: 95px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 32px;
    }

    .header_nav-line {
        display: block;
        position: absolute;
        background-color: white;
        width: 100%;
        height: 2px;
        top: 50%;
        left: 0;
        transition: transform 0.3s ease;
    }

    .header__nav-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .header_social {
        display: none;
    }

    .intro {
        background-position: 70% center;
        text-align: center;
    }

    .donation_inside {
        padding: 50px 10px;
    }

    .main-container {
        max-width: 768px;
        padding: 0;
    }

    .grid-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .image-box {
        width: calc(100%);
        min-width: calc(100%);
        margin-left: -10px;
        margin-right: -10px;
        flex-shrink: 0;
    }

    .image-box img {
        display: block;
        height: auto;
        width: 100%;
    }
    .donation_inside {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        padding: 0 20px;
    }

    .donation_inside .donation-text {
        gap: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .pay-container {
        width: 640px;
        padding: 80px 100px;
    }

    .pay-step {
        gap: 66px;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .step-content {
        gap: 30px;
    }

    .section-title {
        padding-top: 0;
    }
    .step-image {
        width: calc(100%);
        margin-left: -10px;
        margin-right: -10px;
        flex-shrink: 0;
    }

    .step-image img {
        display: block;
        height: auto;
        width: 640px;
    }
    .step-text {
        align-items: center;
        text-align: center;
    } */
}

@media screen and (max-width: 640px) {
    .header_wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header_nav {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: #20113D;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        transform: translateX(100%);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        will-change: transform;
    }
    .footer_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_logos {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 40px;
    }

    .footer-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px 25px;
        margin-bottom: 35px;
        list-style: none;
        padding: 0;
    }

    .footer-link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
    }

    .donate_btn {
        display: block;
        padding: 15px 30px;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }

    .donation_inside {
        padding: 50px 10px;
    }

    .footer_divider {
        width: 100%;
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 30px;
    }

    .footer-bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer_copyright {
        border-top: 1px solid rgba(255, 255, 255, 1);
        display: flex;
        /* flex-direction: column;
        text-align: center; */
        justify-content: space-between;
        width: 100%;
        font-size: 12px;
        text-align: left;
    }

    .footer_copyright span {
        display: flex;
        flex-direction: column;
    }

    .footer-social {
        display: flex;
        gap: 20px;
    }

    .main-container {
        width: 640px;
        padding: 0;
    }

    .grid-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .image-box {
        width: calc(100% + 20px);
        min-width: calc(100% + 20px);
        margin-left: -10px;
        margin-right: -10px;
        flex-shrink: 0;
    }

    .image-box img {
        display: block;
        height: auto;
        width: 100%;
    }

    .donation_inside {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        padding: 0 20px;
    }

    .donation_inside .donnation-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .donation-form {
        padding-top: 0;
    }

    .pay-container {
        width: 640px;
        padding: 0;
    }

    .section-title {
        font-size: 36px;
        padding: 80px 100px 30px 100px;
        text-align: center;
    }

    .step-number {
        padding: 50px 20px 0 20px;
    }

    .pay-step {
        gap: 50px;
        padding-top: 0;
    }

    .step-content {
        flex-direction: column;
        display: flex;
        gap: 20px;
    }

    .step-image {
        width: calc(100% + 20px); 
        min-width: calc(100% + 20px);
        margin-left: -10px;
        margin-right: -10px;
        flex: none;
    }

    .step-image img {
        display: block;
        height: auto;
        width: 100%;
    }

    .step-text {
        text-align: center;
        align-items: center;
        padding: 0 20px;
    }

    .step-text h3 {
        font-size: 22px;
        margin-top: 15px;
    }

    .step-text p {
        font-size: 16px;
    }
}